<!DOCTYPE html>
<html>
<title>Edge System Reading Group @ SEU</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.47/dist/vue.global.prod.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
<style>
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", sans-serif
  }
</style>

<body class="w3-light-grey">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;" id="app">
    <h1>
      <center><strong>Edge System Reading Group @ SEU</strong></center>
    </h1>

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-book fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Upcoming</h2>
          <div v-for="upcoming in upcomings" class="w3-container">
            <h4 class="w3-opacity"><i class="fa fa-certificate fa-fw w3-margin-right w3-large w3-text-teal"></i><b>{{
                upcoming }}</b></h4>
            <br>
          </div>
        </div>

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Useful Link</h2>
          <div class="w3-container">

            <p v-for="link in links"><i class="fa fa-thumb-tack fa-fw w3-margin-right w3-text-xxlarge w3-text-teal"></i>
              <a :href="link.url" style="text-decoration:none">{{ link.title }}</a>
            </p>
            <br>
          </div>
        </div>

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-institution fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Presentation Schedule</h2>

          <div class="w3-container">
            <div v-for="schedule in pages[currentPage - 1]">
              <h4 class="w3-opacity"><b>{{ schedule.title }}</b></h4>
              <h6 class="w3-text-teal"><i class="fa fa-users fa-fw w3-margin-right w3-large w3-text-teal"></i><b>
                  {{ schedule.presenter }}</b></h6>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right w3-large w3-text-teal"></i>{{
                schedule.date }}
                <!-- Manually add margin-left: 4px due to vue.js framework bugs -->
                <span v-for="link in schedule.links" class="w3-tag w3-teal w3-round" style="margin-left: 4px"><a
                    :href="link.url" style="text-decoration:none">{{ link.title }}</a></span>
              </h6>
              <hr>
            </div>
          </div>

          <!-- Pagination Bar -->
          <div class="w3-container w3-center w3-margin-bottom">
            <div class="w3-show-inline-block">
              <div class="w3-bar">
                <button v-for="pagi in renderPagination(currentPage, totalPage)" class="w3-btn w3-border"
                  :class="{ 'w3-teal': pagi === currentPage, 'w3-disabled': pagi === '...' }" :disabled="pagi === '...'"
                  @click="() => { currentPage = pagi }">{{ pagi }}</button>
              </div>
            </div>
          </div>

          <!-- End Right Column -->
        </div>

        <!-- End Grid -->
      </div>

      <!-- End Page Container -->
    </div>

    <footer class="w3-container w3-teal w3-center w3-margin-top">
      <p>Welcome to ESRG.</p>
    </footer>

</body>

<script src="/js/app.js"></script>

</html>